
aiohappyeyeballs
aiohttp 
aiosignal 
attrs 
beautifulsoup4 
blinker 
Brotli
certifi 
cffi 
charset-normalizer 
cryptography 
frozenlist 
h11 
h2 
hpack 
hyperframe 
idna 
kaitaistruct 
lxml 
multidict 
outcome 
packaging 
pip 
propcache 
pyasn1            
pycparser          
pydivert           
pyOpenSSL           
pyparsing         
PySocks            
python-dotenv       
requests            
selenium          
selenium-stealth  
selenium-wire      
sniffio            
sortedcontainers    
soupsieve           
trio             
trio-websocket      
typing_extensions   
urllib3            
webdriver-manager  
websocket-client    
wsproto             
yarl               
zstandard           
